{% extends 'generic/object_retrieve.html' %}
{% load helpers %}

{% block content_left_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>AutomationGatewayModel</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Name</td>
                <td>
                    {{ object.name }}
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>
                    {{ object.description|placeholder }}
                </td>
            </tr>
            <tr>
                <td>Location</td>
                <td>
                    {{ object.location|placeholder }}
                </td>
            </tr>
            <tr>
                <td>Location Descendants</td>
                <td>
                    {{ object.location_descendants|placeholder }}
                </td>
            </tr>
            <tr>
                <td>Gateway</td>
                <td>
                    {{ object.gateway|placeholder }}
                </td>
            </tr>
            <tr>
                <td>Enabled</td>
                <td>
                    {{ object.enabled|placeholder }}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
